.head
{
	background:#FFFFFF;
	position:absolute;
	width:3.4em;
	height:1.3em;
	border:0px black;
    float:center;
    top:20%;
	transform:translate(-50%,-50%);
	filter:progid:DXImageTransform.Microsoft.emboss(bias=0.5);
	font-family:impact;
	font-size:5em;
}
.line1
{
	position:absolute;
	color:#FFFFFF;
	filter:progid:DXImageTransform.Microsoft.engrave(bias=0.5);
	font-size:4em;
	font-family:impact;
	FONT-FAMILY: 华文行楷;
	transform:translate(-50%,-50%);
	top:40%;
	left:25%;
}
.line2
{
	position:absolute;
	color:#FFFFFF;
	filter:progid:DXImageTransform.Microsoft.engrave(bias=0.5);
	font-size:4em;
	font-family:impact;
	FONT-FAMILY: 华文行楷;
	transform:translate(-50%,-50%);
	top:40%;
	left:75%;
}
.line3
{
	position:absolute;
	color:#FFFFFF;
	filter:progid:DXImageTransform.Microsoft.engrave(bias=0.5);
	font-size:4em;
	font-family:impact;
	FONT-FAMILY: 华文楷体;
	transform:translate(-50%,-50%);
	top:70%;
	left:20%;
}
.line4
{
	position:absolute;
	color:#FFFFFF;
	filter:progid:DXImageTransform.Microsoft.engrave(bias=0.5);
	font-size:4em;
	font-family:impact;
	FONT-FAMILY: 华文楷体;
	transform:translate(-50%,-50%);
	top:70%;
	left:80%
}
.line5
{
	position:absolute;
	transform:translate(-50%,-50%);
	top:65%;
	left:50%;
}
